<a href="https://colab.research.google.com/github/annanya-mathur/Data-Visualization-in-python/blob/main/abc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
pd.read_excel("/content/mom.xlsx")

   Class- II F Unnamed: 1  ...   Unnamed: 10 Unnamed: 11
0          NaN        NaN  ...           NaN         NaN
1          NaN        NaN  ...           NaN         NaN
2          NaN        NaN  ...   Arti Mathur         NaN
3         Days          1  ...       Teacher         NaN
4          NaN  7:50-8:30  ...   Arti Mathur       Ma'am
5          Mon      E.V.S  ...   Monika Puri       Ma'am
6          Tue      E.V.S  ...         Manvi       Ma'am
7          Wed      E.V.S  ...         Naina       Ma'am
8          Thu      E.V.S  ...       Kashish       Ma'am
9          Fri      E.V.S  ...  Pooja Pandey       Ma'am
10         Sat      E.V.S  ...       Chandni       Ma'am
11         NaN        NaN  ...         Manvi       Ma'am
12         NaN        NaN  ...         Nidhi       Ma'am
13         NaN        NaN  ...    Neha Dubey       Ma'am

[14 rows x 12 columns]