<a href="https://colab.research.google.com/github/annanya-mathur/Numpy-in-python/blob/main/Series%20Object%20%26%20dataframe%20in%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Series Object is one-dimensional labeled array
import pandas as pd
import numpy as np
s1=pd.Series([39,28,38,42,56,70])               # cconverting list to series object
s1                                              # index     element

0    39
1    28
2    38
3    42
4    56
5    70
dtype: int64

In [ ]:
type(s1)

pandas.core.series.Series

In [ ]:
# changing index of series array
s2=pd.Series([10,13,42,67,90],index=['a','b','c','d','e'])
s2

a    10
b    13
c    42
d    67
e    90
dtype: int64

In [ ]:
# creating series object by dictionary
s3=pd.Series({'Hello':100,'Welcome':200,'To':300,'My':400,'Repository':500},index=['Hello','Welcome','To','My','Repository','Hey'])
s3

Hello         100.0
Welcome       200.0
To            300.0
My            400.0
Repository    500.0
Hey             NaN
dtype: float64

In [ ]:
# Extracting elements
# individual element
s1[4]

56

In [ ]:
# from back and front
s1[:-3],s1[:4]

(0    39
 1    28
 2    38
 dtype: int64, 0    39
 1    28
 2    38
 3    42
 dtype: int64)

In [ ]:
# adding to series object
s1+s1                             # s1+5

0     78
1     56
2     76
3     84
4    112
5    140
dtype: int64

In [ ]:
# DataFrame 
# key -> attributes , value-> column values
pd.DataFrame({"Name":['Akash','Sanket','Ojas','Sanskriti'],"Marks":[40,43,39,45]})

        Name  Marks
0      Akash     40
1     Sanket     43
2       Ojas     39
3  Sanskriti     45

In [ ]:
# representing date from 2020-01-01 upto 10 periods
d=pd.date_range('20200101',periods=10)
d

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [14]:
a=pd.DataFrame(np.random.randn(10,4),index=d,columns=['A','B','C','D'])
a

                   A         B         C         D
2020-01-01  0.423481  2.286236  0.253574  0.767427
2020-01-02 -0.455049 -1.098947 -0.351639 -0.073742
2020-01-03  0.548710  0.000494  1.956099 -0.511816
2020-01-04 -0.216934 -0.692486 -1.702928  0.752933
2020-01-05 -0.244523 -2.094198 -0.017621 -0.207978
2020-01-06 -0.244065 -1.085539  0.615532  0.116213
2020-01-07  1.113686 -0.818396 -0.968060 -0.552862
2020-01-08 -2.077172 -0.992138  0.313214 -0.299228
2020-01-09  2.058670  0.078512 -0.301368  1.668916
2020-01-10  0.055351  0.317731  1.444247  1.263043